/* .header{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 30px;
}


function getValue(radio) {
    var chart = $("#chart").data("kendoChart");
    chart.refresh();
    var times = [];
    var maxRxLevels = [];
     var maxTxLevels = [];
    var rsL_DEVIATIONs = [];
    $.getJSON("https://localhost:44338/api/Fetch/" + radio.value, function (data) {
        for (var i in data) {
            fetcheddata.push(data[i]);
            maxRxLevels.push(data[i].maxRxLevel)
            maxTxLevels.push(data[i].maxTxLevel)
            rsL_DEVIATIONs.push(data[i].rsL_DEVIATION)
            times.push(data[i].time)
        }
    });
    var data_Source = new kendo.data.DataSource({

        transport: {
            read: {
                url: "https://localhost:44338/api/Fetch/" + radio.value,
                dataType: "JSON"
            }
        },

        schema: {
            model: {
                fields: {
                    time: { type: "string" },
                    link: { type: "string" },
                    maxRxLevel: { type: "number" },
                    maxTxLevel: { type: "number" },
                    rsL_DEVIATION: { type: "number" }
                
        }); */